body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.navigation {
  text-transform: uppercase; }
  .navigation__name {
    font-family: 'Allura',sans-serif;
    text-transform: none;
    font-size: 5rem;
    transform: skewY(-5deg); }

.header,
.navigation__link {
  color: white; }

.heading-primary,
.heading-secondary {
  line-height: 1.1; }
  .heading-primary--sub, .heading-primary--main,
  .heading-secondary--sub,
  .heading-secondary--main {
    display: block; }
  .heading-primary--main,
  .heading-secondary--main {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 4px; }
    .heading-primary--main::after,
    .heading-secondary--main::after {
      content: '';
      background-image: url(/img/restaurant-cutlery-symbol-of-a-cross.png);
      background-size: contain;
      display: block;
      margin: 20px auto; }
  .heading-primary--sub,
  .heading-secondary--sub {
    font-family: 'Allura', sans-serif; }

.heading-primary {
  font-size: 5rem;
  font-weight: 400; }
  .heading-primary--main::after {
    height: 35px;
    width: 35px; }

.heading-secondary {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  margin: 30px 0; }
  .heading-secondary--sub {
    color: #bbb; }
  .heading-secondary--main::after {
    height: 20px;
    width: 20px; }

.subheading-primary {
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 5px; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* by dafault box-sizing is not inherited */ }

html {
  font-size: 62.5%;
  /*instead of giving it a pixel value (10px) you should divide this value 
    by value of default font size in a browser (16px). It helps when user changes default 
    browser value manuallly, due to for example visual impairment */ }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: .75rem 3.5rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.3rem;
  font-weight: 500;
  margin: 30px;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: white;
  color: #333; }
  .btn--white::after {
    background-color: white; }

.btn--green {
  background-color: #b12737;
  color: #bbb; }
  .btn--green::after {
    background-color: #b12737; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInButton .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  color: #b12737;
  font-size: 1.6rem;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #b12737;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #b12737;
  color: #bbb;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: white;
  border: none;
  border-bottom: 3px solid #bbb;
  display: block;
  width: 30%;
  transition: all .3s; }
  @media only screen and (max-width: 56.25em) {
    .form__input {
      width: 100%; } }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #b12737; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #b12737; }
  .form__input::-webkit-input-placeholder {
    color: #b12737; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 49%;
  display: inline-block;
  padding-left: 1rem;
  margin-top: -2rem; }
  @media only screen and (max-width: 56.25em) {
    .form__radio-group {
      width: 100%;
      margin-bottom: 2rem; } }

.form__radio-input {
  display: none; }

.form__radio-label {
  cursor: pointer;
  padding-left: 2.5rem;
  position: relative; }

.form__radio-button {
  height: 2rem;
  width: 2rem;
  display: inline-block;
  border: 2px solid #b12737;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: .1rem; }
  .form__radio-button::after {
    content: "";
    display: block;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #b12737;
    opacity: 0;
    transition: opacity .2s; }

.form__radio-input:checked + .form__radio-label .form__radio-button::after {
  opacity: 1; }

#map {
  height: 100%; }

.gm-style-mtc,
.gmnoprint,
.gm-svpc,
.gm-control-active {
  display: none; }

.service {
  width: 15rem;
  display: flex;
  flex-direction: column;
  margin: 3rem .5rem;
  align-items: center; }
  .service__shape {
    width: 15rem;
    height: 15rem;
    position: relative;
    overflow: hidden;
    border-radius: 50%; }
    .service__shape:hover::after {
      content: '';
      display: block;
      position: absolute;
      top: 5px;
      bottom: 5px;
      left: 5px;
      right: 5px;
      border-radius: 50%;
      border: .75px solid white; }
  .service__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all .5s; }
  .service__caption {
    font-size: 1.7rem;
    color: black;
    display: block;
    text-align: center; }
  .service__animation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: white;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 1.5rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden;
    min-width: 10rem; }
  .service:hover .service__animation {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .service:hover .service__img {
    transform: translateX(-5rem) scale(1.1);
    filter: blur(3px) brightness(50%); }

.slider__slides {
  display: flex;
  flex-direction: row; }

.slider .invisible {
  display: none; }

.header {
  height: 100vh;
  background-image: linear-gradient(to right bottom, black 0%, rgba(66, 15, 21, 0.75) 70%, rgba(0, 0, 0, 0.9) 100%), url(/img/header_background.jpg);
  background-size: cover;
  background-position: center bottom; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.navigation {
  font-size: 1.6rem;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .navigation__name {
    display: flex;
    margin-left: 4rem;
    height: 100%; }
  .navigation__list {
    display: flex; }
  .navigation__item {
    list-style-type: none;
    padding: 1rem 1.5rem; }
  .navigation__social-media {
    display: flex;
    justify-self: flex-end; }
    .navigation__social-media:last-of-type {
      margin-right: 4rem; }

.section-services .glide-container {
  width: 50%;
  margin: 0 auto; }
  .section-services .glide-container .row {
    display: flex;
    flex-direction: row;
    justify-content: center; }

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.4) 0%, rgba(66, 15, 21, 0.75) 30%, rgba(0, 0, 0, 0.8) 100%), url(../img/form-background.jpg);
  background-size: cover; }

.book {
  width: 75%;
  background-color: white;
  border-radius: 5px;
  margin: 0 auto;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 75em) {
    .book {
      background-image: linear-gradient(105deg, rgba(200, 200, 200, 0.9) 0%, rgba(200, 200, 200, 0.9) 65%, transparent 65%), url(../img/nat-10.jpg);
      background-size: cover; } }
  @media only screen and (max-width: 56.25em) {
    .book {
      background-image: linear-gradient(to right, rgba(200, 200, 200, 0.9) 0%, rgba(200, 200, 200, 0.9) 100%), url(../img/nat-10.jpg); } }
  .book__form {
    width: 50%;
    padding: 6rem; }
    @media only screen and (max-width: 75em) {
      .book__form {
        width: 65%; } }
    @media only screen and (max-width: 75em) {
      .book__form {
        width: 100%; } }

.section-contact {
  height: 60vh; }
