//colors
$color-primary-blue: #9dbca6;
$color-primary-beige: #e3c080;
$color-primary-orange: #fd7336;
$color-primary-red: #b12737;
$color-primary-red--dark: #420F15;
$color-primary-violet: #50424b;


$color-medium-gray: #bbb;





//font-size
$default-font-size: 1.6rem;