.section-services {
    .glide-container {
        width: 50%;
        margin: 0 auto;

        .row {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }
}

.section-book {
    padding: 15rem 0;
    background-image: linear-gradient(
        to right bottom, 
        rgba(0, 0, 0, .4) 0% ,
        rgba($color-primary-red--dark, .75) 30%,
        rgba(0, 0, 0, .8) 100%), url(../img/form-background.jpg);
    background-size: cover; //ensure that the image fits the container in X direction
             
}

.book {
    width: 75%;
    background-color: white;
    border-radius: 5px;
    margin: 0 auto;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .2);

    @include respond(tab-land) {
        background-image: linear-gradient(105deg,
                                    rgba(200, 200, 200, .9) 0%, 
                                    rgba(200, 200, 200, .9) 65%, 
                                    transparent 65%) , 
                    url(../img/nat-10.jpg);
        background-size: cover;
    }

    @include respond(tab-port) {
        background-image: linear-gradient(to right,
                                    rgba(200, 200, 200, .9) 0%, 
                                    rgba(200, 200, 200, .9) 100%), 
                    url(../img/nat-10.jpg);

    }

    &__form {
        width: 50%;
        padding: 6rem;

        @include respond(tab-land){
            width: 65%;
        }

        @include respond(tab-land){
            width: 100%;
        }
    }
}

.section-contact {
    height: 60vh;
}